{% extends 'dashboard/layout.html' %}
<br />
{% load dashboard_extras %}
<br />
{% block title %}CESEM | administrador{% endblock %} 
{% block body %}
Bienvenido
<h2>{{ message }}</h2>
<table class="table table-bordered">
    <tr>
        <td>ZONAS</td>
        <td>COMUNIDAD</td>
        <td>SECTORES</td>
        <td>UPs</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>PDE 2022</td>
    </tr>
    <tr>
        <td>ZONA 1</td>
        <td>HUANO HUANO</td>
        <td>ALTO HUANO HUANO</td>
        <td>118</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CENTRO HUANO HUANO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHAPI PATA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PULPERA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>HUINI COROCCOHUAYCO</td>
        <td>QUINSACHATA</td>
        <td>43</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUINIMAYO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>QUIMSACHULLO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO TORCCA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CCOYMI CUCHO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CAMPANILLA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO HUARA HUARA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CENTRO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>PACO PATA</td>
        <td>ALTO CANCHA</td>
        <td>49</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CENTRO PACO PATA </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CONDORSAYANA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>SACHATERA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>VISCACHANI</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub total Zona 1</td>
        <td></td>
        <td></td>
        <td>210</td>
    </tr>
    <tr>
        <td>ZONA 2</td>
        <td>ALTO HUANCANE</td>
        <td>CENTRO</td>
        <td>90</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHALLARANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PHITOPATA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUAYNILLA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUINUMAYO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>JAYUJAYU PAMPA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PACPACCO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>QUINSACHULLO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>SOROCA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>COCCARETA ALTO </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PULLPERA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>JAHUANCATE </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>BAJO HUANCANE</td>
        <td>ALTO RANCHO</td>
        <td>99</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CAMA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CAQUENCURA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>COCCARETA BAJO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PARARANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>QUESCAPATA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>STA MARIA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>YUCRAPAMPA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>TINTAYA MARQUIRI</td>
        <td>AYHUARANI</td>
        <td>12</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>MARQUIRI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CIELO</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub total Zona 2</td>
        <td></td>
        <td></td>
        <td>201</td>
    </tr>
    <tr>
        <td>ZONA 3</td>
        <td>MOLLOCAHUA</td>
        <td>ANTAYMARCA</td>
        <td>99</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CANDAÑA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHARMO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUICHUMA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO TORCCA (Huini coroccohuayco-Com. Ccahuaya)</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>KANAMARCA</td>
        <td>CRUCERO</td>
        <td>55</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>KANAMARCA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>LLUTHOMAYO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>LOROCACHE</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PICHACCANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>RUINAS </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CCONCHOPATA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHARMO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Pukuyuta</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>CHILLQUE</td>
        <td>CHANCARANI</td>
        <td>33</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PUCARA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>RIO SALADO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>TAMBO MAYO</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub total Zona 3</td>
        <td></td>
        <td></td>
        <td>187</td>
    </tr>
    <tr>
        <td>ZONA 4</td>
        <td>ANTACOLLANA</td>
        <td>HEROCCOLLO</td>
        <td>29</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHAUPICHULLO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>RIO SALADO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>VISCACHANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CAÑIPIA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHILLETERA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Irrigaciones de Milagros (FREDERMICE)</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>MAMANOCCA</td>
        <td>ALTO QQUESCCAMAYO</td>
        <td>74</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>BAJO QQUESCCAMAYO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>QESCCAMAYO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CUTIRICPATA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUAYLLANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>MARCATERA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PUCARA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>QUINSA CANCHA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>RIO SALADO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>TAMBOMAYO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>YANACANCHA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>SUERO Y CAMA</td>
        <td>CAÑIPIA</td>
        <td>86</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CENTRO SUERO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHOQUERANA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>YANACCOLLPA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUASHUA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>TUCSAMAYO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PARARANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>TAMBORANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUACCOLLO</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub total zona 4</td>
        <td></td>
        <td></td>
        <td>189</td>
    </tr>
    <tr>
        <td>ZONA 5</td>
        <td>ANTACCOLLANA</td>
        <td>MILAGROS</td>
        <td>206</td>
    </tr>
    <tr>
        <td></td>
        <td>HUISA CCOLLANA</td>
        <td>QQUETARA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>ASOC. VAQUERITOS</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHOQUEPITO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CAÑON DE PORURO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PATITO CIEGO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>QETARA FREDERMICE</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>MILAGROS</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>HUARCA</td>
        <td>URBAYA FREDERMICE</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>URBAYA HUARCA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>HUISA</td>
        <td>QQUETARA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>ASC. CHIPTA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>QETARA FREDERMICE</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub total zona 5</td>
        <td></td>
        <td></td>
        <td>206</td>
    </tr>
    <tr>
        <td>ZONA 6</td>
        <td>HUISA</td>
        <td>HUILLCARANI</td>
        <td>35</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUINIPAMPA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHIPTA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>NUEVA ESPERANZA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>HANCCOLLAHUA</td>
        <td>PREDIO HUARA HUARA (predio de Huini corocohuayco)</td>
        <td>19</td>
    </tr>
    <tr>
        <td></td>
        <td>HUISACCOLLANA</td>
        <td>LLANQUENE</td>
        <td>11</td>
    </tr>
    <tr>
        <td></td>
        <td>CALA CALA</td>
        <td>CALA CALA</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Sub total zona 6</td>
        <td></td>
        <td></td>
        <td>73</td>
    </tr>
    <tr>
        <td></td>
        <td>HUARCA</td>
        <td>LLACTUYO</td>
        <td>109</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>UMACHUCO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CENTRAL</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PARARANI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PARACCAY</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>ATACALLA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CHENQQUENE</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>URUBAYA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>HATUM AYRACCOLLANA</td>
        <td>ASOC. CHACO I</td>
        <td>22</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>ASOC. CHACO II</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Sub total zona 7</td>
        <td></td>
        <td></td>
        <td>149</td>
    </tr>
    <tr>
        <td>ZONA 8</td>
        <td>ALTO HUARCA</td>
        <td>SAN JOSE</td>
        <td>105</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>CENTRO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>KACHACHI</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>NUEVA ESPERANZA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>SOL NACIENTE</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>HUACHANCIRCA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO TOTORANI-PULPERA</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO MINASHUAYCCO</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO CHALLQUI</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub total zona 8</td>
        <td></td>
        <td></td>
        <td>105</td>
    </tr>
    <tr>
        <td>ZONA 9</td>
        <td>MAMANOCCA</td>
        <td>JAYUNI</td>
        <td>12</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO CCOPACHULLO</td>
        <td>24</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO CHALLCHA</td>
        <td>10</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>PREDIO BUENA VISTA</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Sub total zona 9</td>
        <td></td>
        <td></td>
        <td>52</td>
    </tr>
    <tr>
        <td>TOTAL, UPs</td>
        <td></td>
        <td></td>
        <td>1,372</td>
    </tr>
</table>
{% endblock %}
