{% extends 'dashboard/layout.html' %}
<br />
{% load dashboard_extras %}
<br />
{% block title %}CESEM | administrador{% endblock %}

{% block body %}

{% if message_error %}
<div class="alert alert-danger" role="alert">
  <strong>No se proceso el archivo</strong>, se encontró el siguiente error: {{message_error}}
</div>
{% endif %}
{% if message_success %}
<div class="alert alert-success" role="alert">
  <strong>Se proceso el archivo</strong>, {{message_success}}
</div>
{% endif %}
<h2>Ingreso de visitas de {{file_type}}</h2>

<form action="." method="post" enctype="multipart/form-data" class="form-inline">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputName2">Seleccionar archivo XLS</label>
    <input  class="form-control" type="file" name="excel_file" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Subir Archivo</button>
</form>

<div class="my-5">
  <h3>Encabezados</h3>
</div>
<div class="mt-3">
  <h4>Sanidad Animal</h4>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>FECHA</th>
      <th>ZONA</th>
      <th>COMUNIDAD</th>
      <th>SECTOR/IRRIGACION</th>
      <th>TIPOLOGIA DE UP</th>
      <th>UP ES PILOTO?</th>
      <th>NOMBRE DEL RESPONSABLE UP</th>
      <th>N DNI</th>
      <th>SEXO RUP</th>
      <th>NOMBRE DEL INTEGRANTE DE UP</th>
      <th>N DNI</th>
      <th>SEXO IUP</th>
      <th>NOMBRE DE ESPECIALISTA</th>
      <th>NOMBRE DE RESPONSABLE DE ACTIVIDAD</th>
      <th>ACTIVIDAD REALIZADA</th>
      <th>ENFERMEDAD/TRANSTORNO/OBSERVACION</th>
      <th>DIAGNOSTICO</th>
      <th>VACA</th>
      <th>VAQUILLONA</th>
      <th>VAQUILLA</th>
      <th>TERNERO</th>
      <th>TORETE</th>
      <th>TORO</th>
      <th>OVINOS</th>
      <th>ALPACAS</th>
      <th>LLAMAS</th>
      <th>CANES</th>
      <th>1 FARMACOS/SALES</th>
      <th>U.M.</th>
      <th>CANTIDAD</th>
      <th>2 FARMACOS/SALES</th>
      <th>U.M.</th>
      <th>CANTIDAD</th>
      <th>3 FARMACOS/SALES</th>
      <th>U.M.</th>
      <th>CANTIDAD</th>
      <th>4 FARMACOS/SALES</th>
      <th>U.M.</th>
      <th>CANTIDAD</th>
    </tr>
  </table>
</div>

<div class="mt-3">
  <h4>Mejoramiento Genetico Vacuno</h4>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>FECHA</th>
      <th>ZONA</th>
      <th>COMUNIDAD</th>
      <th>SECTOR/IRRIGACION</th>
      <th>TIPOLOGIA DE UP</th>
      <th>UP ES PILOTO?</th>
      <th>NOMBRE DEL RESPONSABLE UP</th>
      <th>N DNI</th>
      <th>SEXO RUP</th>
      <th>NOMBRE DEL INTEGRANTE DE UP</th>
      <th>N DNI</th>
      <th>SEXO IUP</th>
      <th>NOMBRE DE ESPECIALISTA</th>
      <th>NOMBRE DE RESPONSABLE DE ACTIVIDAD</th>
      <th>ACTIVIDAD REALIZADA</th>
      <th>NOMBRE DE TORO</th>
      <th>RAZA DE TORO</th>
      <th>TIPO PAJILLA</th>
      <th>PROCEDENCIA PAJILLA</th>
      <th>N DE PAJILLAS</th>
      <th>NOMBRE DE VACA</th>
      <th>RAZA DE VACA</th>
      <th>N DE SERVICIO</th>
      <th>PREÑADA</th>
      <th>VACIA</th>
      <th>F. NACIMIENTO</th>
      <th>N DE ARETE</th>
      <th>NOMBRE DE CRIA</th>
      <th>MACHO</th>
      <th>HEMBRA</th>
      <th>MUERTA</th>
      <th>CRIA-NOMBRE DE TORO</th>
      <th>CRIA-NOMBRE DE VACA</th>
      <th>ASIS VARONES CAPAC MANEJO REPRODUCTIVO</th>
      <th>ASIS MUJERES CAPAC MANEJO REPRODUCTIVO</th>
      <th>VACA</th>
      <th>ASIS TEC MANEJO GANADO VACUNO</th>
      <th>VACA</th>
      <th>VAQUILLONA</th>
      <th>VAQUILLA</th>
      <th>TERNERO</th>
      <th>TORETE</th>
      <th>TORO</th>
    </tr>
  </table>
</div>

<div class="mt-3">
  <h4>Mejoramiento Genetico Ovino</h4>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>FECHA</th>
      <th>ZONA</th>
      <th>COMUNIDAD</th>
      <th>SECTOR/IRRIGACION</th>
      <th>TIPOLOGIA DE UP</th>
      <th>UP ES PILOTO?</th>
      <th>NOMBRE DEL RESPONSABLE UP</th>
      <th>N DNI</th>
      <th>SEXO RUP</th>
      <th>NOMBRE DEL INTEGRANTE DE UP</th>
      <th>N DNI</th>
      <th>SEXO IUP</th>
      <th>NOMBRE DE ESPECIALISTA</th>
      <th>NOMBRE DE RESPONSABLE DE ACTIVIDAD</th>
      <th>ACTIVIDAD REALIZADA</th>

      
      <th>ASIS VARONES CURSO MANEJO OVINOS</th>
      <th>ASIS MUJERES CURSO MANEJO OVINOS</th>
      <th>ASIS TEC PRODUCCION GANADO OVINO CORRIEDALE</th>
      <th>OVINOS SELECCIONADOS</th>
      <th>OVINOS SINCRONIZADOS</th>
      <th>OVEJAS INSEMINADAS CORRIEDALE</th>
      <th>OVEJAS INSEMINADAS CRIOLLAS</th>
      <th>PREÑADA</th>
      <th>VACIA</th>
      <th>NO EVALUADA</th>
      <th>CRIA MACHO</th>
      <th>CRIA HEMBRA</th>
      <th>CRIA MUERTA</th>
      <th>N RGC</th>
      <th>OVINOS</th>
    </tr>
  </table>
</div>

<div class="mt-3">
  <h4>Mejoramiento Genetico Alpacas</h4>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>FECHA</th>
      <th>ZONA</th>
      <th>COMUNIDAD</th>
      <th>SECTOR/IRRIGACION</th>
      <th>TIPOLOGIA DE UP</th>
      <th>UP ES PILOTO?</th>
      <th>NOMBRE DEL RESPONSABLE UP</th>
      <th>N DNI</th>
      <th>SEXO RUP</th>
      <th>NOMBRE DEL INTEGRANTE DE UP</th>
      <th>N DNI</th>
      <th>SEXO IUP</th>
      <th>NOMBRE DE ESPECIALISTA</th>
      <th>NOMBRE DE RESPONSABLE DE ACTIVIDAD</th>
      <th>ACTIVIDAD REALIZADA</th>
      
      <th>N DE HATO</th>
      <th>N DE CRIAS EN HATO</th>
      <th>N DE MADRES EN HATO</th>
      <th>N DE MACHOS EN HATO</th>
      <th>SELEC N ARETE ALPACA HEMBRA</th>
      <th>SELEC RAZA ALPACA HEMBRA</th>
      <th>SELEC COLOR ALPACA HEMBRA</th>
      <th>SELEC EDAD ALPACA HEMBRA</th>
      <th>SELEC CATEGORIA ALPACA HEMBRA</th>
      <th>SELEC PUNTAJE TOTAL ALPACA HEMBRA</th>
      <th>SELEC CANT ALPACAS SELECCIONADAS</th>
      <th>FECHA EMPADRE</th>
      <th>ALPACAS EMPADRADAS</th>
      <th>N DE ALPACAS EMPADRADAS</th>
      <th>N MACHO EMPADRE</th>
      <th>FECHA 2DO SERVICIO</th>
      <th>N MACHO 2DO SERVICIO</th>
      <th>PREÑADA</th>
      <th>VACIA</th>
      <th>F. NACIMIENTO CRIA</th>
      <th>N ARETE CRIA</th>
      <th>CRIA HEMBRA</th>
      <th>CRIA MACHO</th>
      <th>MORTANDAD CRIA</th>
      <th>MADRE DE CRIA</th>
      <th>PADRE DE CRIA</th>
      <th>ASIS VARONES CAPAC</th>
      <th>ASIS MUJERES CAPAC</th>
      <th>ASIS TEC BUENAS PRACTICAS MANEJO ALPACAS</th>

    </tr>
  </table>
</div>

<div class="mt-3">
  <h4>Desparasitación</h4>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>FECHA</th>
      <th>ZONA</th>
      <th>COMUNIDAD</th>
      <th>SECTOR/IRRIGACION</th>
      <th>TIPOLOGIA DE UP</th>
      <th>UP ES PILOTO?</th>
      <th>NOMBRE DEL RESPONSABLE UP</th>
      <th>N DNI</th>
      <th>SEXO RUP</th>
      <th>NOMBRE DEL INTEGRANTE DE UP</th>
      <th>N DNI</th>
      <th>SEXO IUP</th>
      <th>NOMBRE DE ESPECIALISTA</th>
      <th>NOMBRE DE RESPONSABLE DE ACTIVIDAD</th>
      <th>ACTIVIDAD REALIZADA</th>

      <th>VACUNOS RAZA</th>
      <th>VACUNOS RAZA</th>
      <th>ENFERMEDAD/TRANSTORNO/OBSERVACION</th>
      <th>DIAGNOSTICO</th>
      <th>VACUNOS DESPARASITADOS</th>
      <th>VACUNOS NO DESPARASITADOS</th>
      <th>TOTAL VACUNOS</th>
      <th>OVINOS RAZA</th>
      <th>OVINOS DESPARASITADOS</th>
      <th>OVINOS NO DESPARASITADOS</th>
      <th>TOTAL OVINOS</th>
      <th>ALPACAS RAZA</th>
      <th>ALPACAS DESPARASITADOS</th>
      <th>ALPACAS NO DESPARASITADOS</th>
      <th>TOTAL ALPACAS</th>
      <th>LLAMAS RAZA</th>
      <th>LLAMAS DESPARASITADOS</th>
      <th>LLAMAS NO DESPARASITADOS</th>
      <th>TOTAL LLAMAS</th>
      <th>CANES DESPARACITADOS</th>

    </tr>
  </table>
</div>

<div class="mt-3">
  <h4>Sales</h4>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>FECHA</th>
      <th>ZONA</th>
      <th>COMUNIDAD</th>
      <th>SECTOR/IRRIGACION</th>
      <th>TIPOLOGIA DE UP</th>
      <th>UP ES PILOTO?</th>
      <th>NOMBRE DEL RESPONSABLE UP</th>
      <th>N DNI</th>
      <th>SEXO RUP</th>
      <th>NOMBRE DEL INTEGRANTE DE UP</th>
      <th>N DNI</th>
      <th>SEXO IUP</th>
      <th>NOMBRE DE ESPECIALISTA</th>
      <th>NOMBRE DE RESPONSABLE DE ACTIVIDAD</th>
      <th>ACTIVIDAD REALIZADA</th>

      <th>TOTAL VACUNOS</th>
      <th>TOTAL OVINOS</th>
      <th>ENFERMEDAD/TRANSTORNO/OBSERVACION</th>
      <th>DIAGNOSTICO</th>

    </tr>
  </table>
</div>




{% endblock %}