{% extends 'dashboard/layout.html' %}
<br />
{% load dashboard_extras %}
<br />
{% block title %}CESEM | administrador{% endblock %}

{% block body %}

{% if message_error %}
<div class="alert alert-danger" role="alert">
  <strong>No se proceso el archivo</strong>, se encontre el siguiente error: {{message_error}}
</div>
{% endif %}
{% if message_success %}
<div class="alert alert-success" role="alert">
  <strong>Se proceso el archivo</strong>, {{message_success}}
</div>
{% endif %}
<h2>Ingreso de visitas de {{file_type}}</h2>

<form action="." method="post" enctype="multipart/form-data" class="form-inline">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputName2">Seleccionar archivo XLS</label>
    <input  class="form-control" type="file" name="excel_file" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Subir Archivo</button>
</form>


{% endblock %}