{% extends 'dashboard/layout.html' %}
<br />
{% load dashboard_extras %}
<br />
{% block title %}CESEM | administrador{% endblock %} 

{% block body %}


<div class="d-flex justify-content-between align-items-center">
  <h2>Reporte Mensual</h2>
  <form action=".">
    <div class="d-flex">
      <div>
        Desde: 
        <input type="text" class="form-control" id="from-datepicker" name="from_datepicker" size="30" value="{{from_datepicker}}">
      </div>
      <div class="ms-4">
        Hasta: 
        <input type="text" class="form-control" id="to-datepicker" name="to_datepicker" size="30" value="{{to_datepicker}}">
      </div>
      <div>
        <br/>
        <button type="submit" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </form>
</div>



<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Actividad</th>
      <th>UM</th>
      {% for w in month_number %}
      <th><span>{{w|get_month}}</span></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for a in activities %}
    <tr class="{% get_activity_class a%}">
      <td>{{a.position}}</td>
      <td style="white-space: nowrap;">{{a.name}}</td>
      <td>{{a.um}}</td>
      {% for w in month_number %}
      <td>{% get_activity_data_value a w activities_data %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block script %}
<script>
  $( function() {
    $('#from-datepicker,#to-datepicker').datetimepicker({
      locale: 'es',
      "allowInputToggle": false,
      "showClose": false,
      "showClear": false,
      "showTodayButton": false,
      viewMode: 'months',
      "format": "YYYY-MM-DD",
    });
  });
</script>
{% endblock %}
