{% extends 'dashboard/layout.html' %}
<br />
{% load dashboard_extras %}
<br />
{% block title %}CESEM | administrador{% endblock %}

{% block style %}

{% endblock %}
{% block body %}

{% include 'dashboard/filters.html' with title='Reporte Semanal'%}

<table class="table table-bordered" id="exportable">
  <thead>
    <tr>
      <th colspan="2">Actividad</th>
      <th>UM</th>
      {% for w in weeks_number %}
      <th><span>{{w|get_start_date_of_week|date:"d M y"}}</span></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for a in activities %}
    <tr class="{% get_activity_class a%}">
      <td>{{a.position}}</td>
      <td style="white-space: nowrap;">{{a.name}}</td>
      <td>{{a.um}}</td>
      {% for w in weeks_number %}
      <td>{% get_activity_data_value a w activities_data %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<button class="btn btn-primary" onclick="ExportToExcel('xlsx','Reporte Semanal {{year_str}}.xlsx')">Exportar tabla a
  excel</button>
{% endblock %}
{% block script %}
{% endblock %}